# this is read by the standalone daemon and embedded servers
[server]
bind-address                      = 0.0.0.0

# this is only for the mysqld standalone daemon
[mysqld]
datadir = /var/lib/mysql
ignore_db_dirs=lost+found
socket = /var/run/mysqld/mysql.sock
bind_address			= 0.0.0.0

user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
lc-messages             = en_US
skip-external-locking
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
#
# * Galera-related settings
#
[galera]

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]
